{% extends "car4go/base.html" %}

{% block content %}
	{%load staticfiles %}
    <body>
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrap">
            
                
                
                <!-- Main Nav -->
                    <nav role="navigation" class="main-nav">
                        <ul>
                            <li>
                                <a href="/" title="">Home</a>
                            </li>
                            <li>
                                <a href="/share/list" title="Share">Share</a>
                            </li>
                        </ul>
                    </nav>
                <!-- //Main Nav -->
        </div>
    </header>

    <!-- Main -->
    <main class="main" role="main">
        <!-- Search -->
        <div class="advanced-search color">
            <div class="wrap">
                
            </div>
        </div>
        <!-- //Search -->
        
        <div class="wrap">
            <div class="row">
                <!--- Content -->
                <div class="full-width content">
                    <h2>Select transfer type for your DEPARTURE</h2>
                    
                    <div class="results">
                        <!-- Item -->
                        <article class="result">
                            <div class="one-fourth heightfix"><img src="http://placehold.it/1024x768" alt="" /></div>
                            <div class="one-half heightfix">
                                <h3>Private car <a href="javascript:void(0)" class="trigger color" title="Read more">?</a></h3>
                                <ul>
                                    <li>
                                        <span class="ico people"></span>
                                        <p>Max <strong>3 people</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico luggage"></span>
                                        <p>Max <strong>3 suitcases</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico time"></span>
                                        <p>Estimated time <br /><strong>50 mins</strong></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="one-fourth heightfix">
                                <div>
                                    <div class="price">130,00 <small>USD</small></div>
                                    <span class="meta">per passenger</span>
                                    <a href="booking-step1.html" class="btn grey large">select</a>
                                </div>
                            </div>
                            <div class="full-width information">    
                                <a href="javascript:void(0)" class="close color" title="Close">x</a>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </article>
                        <!-- //Item -->
                        
                        <!-- Item -->
                        <article class="result">
                            <div class="one-fourth heightfix"><img src="http://placehold.it/1024x768" alt="" /></div>
                            <div class="one-half heightfix">
                                <h3>Private shuttle <a href="javascript:void(0)" class="trigger color" title="Read more">?</a></h3>
                                <ul>
                                    <li>
                                        <span class="ico people"></span>
                                        <p>Max <strong>3 people</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico luggage"></span>
                                        <p>Max <strong>3 suitcases</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico time"></span>
                                        <p>Estimated time <br /><strong>50 mins</strong></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="one-fourth heightfix">
                                <div>
                                    <div class="price">130,00 <small>USD</small></div>
                                    <span class="meta">per passenger</span>
                                    <a href="booking-step1.html" class="btn grey large">select</a>
                                </div>
                            </div>
                            <div class="full-width information">    
                                <a href="javascript:void(0)" class="close color" title="Close">x</a>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </article>
                        <!-- //Item -->
                        
                        <!-- Item -->
                        <article class="result">
                            <div class="one-fourth heightfix"><img src="http://placehold.it/1024x768" alt="" /></div>
                            <div class="one-half heightfix">
                                <h3>Shared shuttle <a href="javascript:void(0)" class="trigger color" title="Read more">?</a></h3>
                                <ul>
                                    <li>
                                        <span class="ico people"></span>
                                        <p>Max <strong>3 people</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico luggage"></span>
                                        <p>Max <strong>3 suitcases</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico time"></span>
                                        <p>Estimated time <br /><strong>50 mins</strong></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="one-fourth heightfix">
                                <div>
                                    <div class="price">130,00 <small>USD</small></div>
                                    <span class="meta">per passenger</span>
                                    <a href="booking-step1.html" class="btn grey large">select</a>
                                </div>
                            </div>
                            <div class="full-width information">    
                                <a href="javascript:void(0)" class="close color" title="Close">x</a>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </article>
                        <!-- //Item -->
                        
                        <!-- Item -->
                        <article class="result">
                            <div class="one-fourth heightfix"><img src="http://placehold.it/1024x768" alt="" /></div>
                            <div class="one-half heightfix">
                                <h3>Private bus <a href="javascript:void(0)" class="trigger color" title="Read more">?</a></h3>
                                <ul>
                                    <li>
                                        <span class="ico people"></span>
                                        <p>Max <strong>3 people</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico luggage"></span>
                                        <p>Max <strong>3 suitcases</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico time"></span>
                                        <p>Estimated time <br /><strong>50 mins</strong></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="one-fourth heightfix">
                                <div>
                                    <div class="price">130,00 <small>USD</small></div>
                                    <span class="meta">per passenger</span>
                                    <a href="booking-step1.html" class="btn grey large">select</a>
                                </div>
                            </div>
                            <div class="full-width information">    
                                <a href="javascript:void(0)" class="close color" title="Close">x</a>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </article>
                        <!-- //Item -->
                        
                        <!-- Item -->
                        <article class="result">
                            <div class="one-fourth heightfix"><img src="http://placehold.it/1024x768" alt="" /></div>
                            <div class="one-half heightfix">
                                <h3>Private helicopter <a href="javascript:void(0)" class="trigger color" title="Read more">?</a></h3>
                                <ul>
                                    <li>
                                        <span class="ico people"></span>
                                        <p>Max <strong>3 people</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico luggage"></span>
                                        <p>Max <strong>3 suitcases</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico time"></span>
                                        <p>Estimated time <br /><strong>50 mins</strong></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="one-fourth heightfix">
                                <div>
                                    <div class="price">130,00 <small>USD</small></div>
                                    <span class="meta">per passenger</span>
                                    <a href="booking-step1.html" class="btn grey large">select</a>
                                </div>
                            </div>
                            <div class="full-width information">    
                                <a href="javascript:void(0)" class="close color" title="Close">x</a>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </article>
                        <!-- //Item -->
                    </div>
                    
                    <h2>Select transfer for your RETURN</h2>
                    
                    <div class="results">
                        <!-- Item -->
                        <article class="result">
                            <div class="one-fourth heightfix"><img src="http://placehold.it/1024x768" alt="" /></div>
                            <div class="one-half heightfix">
                                <h3>Private car <a href="javascript:void(0)" class="trigger color" title="Read more">?</a></h3>
                                <ul>
                                    <li>
                                        <span class="ico people"></span>
                                        <p>Max <strong>3 people</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico luggage"></span>
                                        <p>Max <strong>3 suitcases</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico time"></span>
                                        <p>Estimated time <br /><strong>50 mins</strong></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="one-fourth heightfix">
                                <div>
                                    <div class="price">130,00 <small>USD</small></div>
                                    <span class="meta">per passenger</span>
                                    <a href="booking-step1.html" class="btn grey large">select</a>
                                </div>
                            </div>
                            <div class="full-width information">    
                                <a href="javascript:void(0)" class="close color" title="Close">x</a>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </article>
                        <!-- //Item -->
                        
                        <!-- Item -->
                        <article class="result">
                            <div class="one-fourth heightfix"><img src="http://placehold.it/1024x768" alt="" /></div>
                            <div class="one-half heightfix">
                                <h3>Private shuttle <a href="javascript:void(0)" class="trigger color" title="Read more">?</a></h3>
                                <ul>
                                    <li>
                                        <span class="ico people"></span>
                                        <p>Max <strong>3 people</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico luggage"></span>
                                        <p>Max <strong>3 suitcases</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico time"></span>
                                        <p>Estimated time <br /><strong>50 mins</strong></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="one-fourth heightfix">
                                <div>
                                    <div class="price">130,00 <small>USD</small></div>
                                    <span class="meta">per passenger</span>
                                    <a href="booking-step1.html" class="btn grey large">select</a>
                                </div>
                            </div>
                            <div class="full-width information">    
                                <a href="javascript:void(0)" class="close color" title="Close">x</a>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </article>
                        <!-- //Item -->
                        
                        <!-- Item -->
                        <article class="result">
                            <div class="one-fourth heightfix"><img src="http://placehold.it/1024x768" alt="" /></div>
                            <div class="one-half heightfix">
                                <h3>Shared bus <a href="javascript:void(0)" class="trigger color" title="Read more">?</a></h3>
                                <ul>
                                    <li>
                                        <span class="ico people"></span>
                                        <p>Max <strong>3 people</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico luggage"></span>
                                        <p>Max <strong>3 suitcases</strong> <br />per vehicle</p>
                                    </li>
                                    <li>
                                        <span class="ico time"></span>
                                        <p>Estimated time <br /><strong>50 mins</strong></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="one-fourth heightfix">
                                <div>
                                    <div class="price">130,00 <small>USD</small></div>
                                    <span class="meta">per passenger</span>
                                    <a href="booking-step1.html" class="btn grey large">select</a>
                                </div>
                            </div>
                            <div class="full-width information">    
                                <a href="javascript:void(0)" class="close color" title="Close">x</a>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            </div>
                        </article>
                        <!-- //Item -->
                    </div>
                </div>
                <!--- //Content -->
            </div>
        </div>
    </main>
    <!-- //Main -->
    </body>

{% endblock %}
